/* Estilo para el cuerpo del html */
body {
    font: 400 15px Tahoma; /*Familia sans-serif*/
    line-height: 1.8;
    color: lightgray;
}

/* Estilo para encabezadp nivel 1 */
h1 {
    background-color:#FF5733;
    color: #fff;
    text-transform: uppercase;
    padding: 100px 25px;
    text-align: center;
    width: 95%;
}

/* Estilo para encabezado nivel 2 */
h2 {
    background-color: white;
    width: 83%;
    border: 10px solid green;
    padding: 40px;
    margin: 10px;
    text-align: center;
    color: green;
    text-transform: uppercase;
}

/* Estilo para los párrafos (texto) */
p {
    background-color: lightgray;
    width: 83%;
    border: 10px lightgreen;
    padding: 40px;
    margin: 10px;
    text-align: center;
    color: green;
}

/* Estilo para los botones (indice) */
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 25px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin-bottom: 10px;
}

/* Estilo para la tabla */
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: green;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
/* Fin estilo de tabla */

/* Estilo para link no visitado */
a:link {
    color: blue;
}

/* Estilo para link visitado */
a:visited {
    color: purple;
}

/* Estilo para ratón encima de link */
a:hover {
    color: lightblue;
}

/* Estilo para link seleccionado */
a:active {
    color: pink;
}

/* Estilo para listas (con circulos coloreados) */
ul.b {list-style-type: square;}
